<?xml version="1.0" encoding="utf-8" ?>
<configuration>


    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Trabajo_Final.My.MySettings.CadenaConexion" connectionString="Data Source=DESKTOP-TO12RV5;Initial Catalog=dbinstituciónEducativaCarlosMoralesdeChimbote;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>
